<h1 mat-dialog-title>{{'general.changePassword'|translate}}</h1>
<form (ngSubmit)="submit()" [formGroup]="passwordForm" id="userForm">
  <mat-dialog-content>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>{{'general.password'|translate}}</mat-label>
      <input
        [type]="hideA ? 'password' : 'text'"
        autocomplete="password"
        formControlName="password"
        matInput
        required/>
      <button
        (click)="hideA = !hideA"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideA"
        mat-icon-button
        matSuffix
        type="button">
        <mat-icon>{{ hideA ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="passwordForm.get('password')?.hasError('minlength')">{{'validations.password.length' |translate:{amount: passwordForm.controls.password.errors?.minlength.requiredLength!} }}
      </mat-error>
      <mat-error
        *ngIf="passwordForm.get('password')?.hasError('required')">{{'validations.password.required' |translate}}</mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>{{'general.repeatPassword'|translate}}</mat-label>
      <input
        [type]="hideB ? 'password' : 'text'"
        autocomplete="password"
        formControlName="passwordMatch"
        matInput
        required/>
      <button
        (click)="hideB = !hideB"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideB"
        mat-icon-button
        matSuffix
        type="button">
        <mat-icon>{{ hideB ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="passwordForm.get('passwordMatch')?.hasError('required')">{{'validations.password.required' |translate}}
      </mat-error>
      <mat-error
        *ngIf="passwordForm.get('passwordMatch')?.hasError('notEquivalent')">{{'validations.password.unequal' |translate}}
      </mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <br/>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      [disabled]="passwordForm.invalid"
      color="accent"
      mat-raised-button
      type="submit">
      {{'general.submit'|translate}}
    </button>
    <button
      (click)="cancel()"
      color="primary"
      mat-raised-button
      type="button">
      {{'general.cancel'|translate}}
    </button>
  </mat-dialog-actions>
</form>
