/* You can add global styles to this file, and also import other style files */
html, body {
  height: 98%;
}

body {
  margin: 2pt;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #efefef;
}

