<div class="outsideWrapper">
  <mat-card style="text-align: center">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon style="color: green">error</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-title> Forgot Password</mat-card-title>
    <mat-card-content>
      Success! You should be able to log in now!
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="router.navigateByUrl('login')">
        Return
      </button>
    </mat-card-actions>
  </mat-card>
</div>
