<div id="registerWrapper">
  <mat-card style="text-align: center">
    <mat-card-title> Register</mat-card-title>
    <form id="userForm" (ngSubmit)="forgotPassword()" [formGroup]="forgotForm">
      <mat-card-content>
        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            [(ngModel)]="forgotPasswordDto.username"
            required
            formControlName="username"
            autocomplete="username"/>
          <mat-error *ngIf="forgotForm.get('username')?.hasError('minlength')">Usernames must be at least 3 characters
            long!
          </mat-error>
          <mat-error *ngIf="forgotForm.get('username')?.hasError('required')">You must enter a username</mat-error>
        </mat-form-field>
        <br/>
        <br/>
        <br/>
        <mat-form-field appearance="outline">
          <mat-label>EMail</mat-label>
          <input
            type="email"
            email="true"
            autocomplete="email"
            matInput
            [(ngModel)]="forgotPasswordDto.email"
            required
            formControlName="email"
          />
          <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">You must enter a valid mail address</mat-error>
          <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">You must enter a valid mail address
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="forgotForm.invalid">
          Send
        </button>
        <button mat-raised-button color="primary" (click)="goBackToLogin()">
          Cancel
        </button>
      </mat-card-actions>
    </form>

    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
