<div class="outsideWrapper">
  <mat-card style="text-align: center">
    <mat-card-title>{{'pages.forgotPassword.title'|translate}}</mat-card-title>
    <form id="userForm" (ngSubmit)="forgotPassword()" [formGroup]="forgotForm">
      <mat-card-content>
        <br/>
        <mat-form-field appearance="fill">
          <mat-label>{{'general.username' |translate}}</mat-label>
          <input
            matInput
            [(ngModel)]="forgotPasswordDto.username"
            required
            formControlName="username"
            autocomplete="username"/>
          <mat-error
            *ngIf="forgotForm.get('username')?.hasError('minlength')">{{'validations.username.length' | translate: {amount: forgotForm.controls.username.errors?.minlength.requiredLength!} }}
          </mat-error>
          <mat-error
            *ngIf="forgotForm.get('username')?.hasError('required')">{{'validations.username.required' |translate}}</mat-error>
        </mat-form-field>
        <br/>
        <br/>
        <br/>
        <mat-form-field appearance="fill">
          <mat-label>{{'general.email'|translate}}</mat-label>
          <input
            type="email"
            email="true"
            autocomplete="email"
            matInput
            [(ngModel)]="forgotPasswordDto.email"
            required
            formControlName="email"
          />
          <mat-error
            *ngIf="forgotForm.get('email')?.hasError('email')">{{'validations.email.format'|translate}}</mat-error>
          <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">{{'validations.email.required'|translate}}
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="forgotForm.invalid">
          {{'general.submit' | translate}}
        </button>
        <button [routerLink]="['/login']" color="primary" mat-raised-button>
          {{'general.cancel' | translate}}
        </button>
      </mat-card-actions>
    </form>

    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
