.nav-container {
  width: 100%;
  min-height: 100%;
}

.homeWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

md-sidenav.md-locked-open {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}
