<div>
  <mat-card style="text-align: center">
    <mat-card-title>{{'pages.userlist.title'|translate}}</mat-card-title>
    <mat-card-content>
      <div class="mat-elevation-z8" *ngIf="canSeeUsers()">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="loadUserList()">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'general.uid'|translate}}</th>
            <td (click)="viewUser(element)" *matCellDef="let element" class="clickable" mat-cell>{{ element.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="username">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'general.username'|translate}}</th>
            <td (click)="viewUser(element)" *matCellDef="let element" class="clickable"
                mat-cell>{{ element.username }}</td>
          </ng-container>

          <!-- Mail Column -->
          <ng-container matColumnDef="email">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'general.email'|translate}}</th>
            <td (click)="viewUser(element)" *matCellDef="let element" class="clickable"
                mat-cell>{{ element.email }}</td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'general.usertype'|translate}}</th>
            <td (click)="viewUser(element)" *matCellDef="let element" class="clickable"
                mat-cell>{{ 'usertypes.' + element.type.name | translate }}</td>
          </ng-container>

          <ng-container matColumnDef="menu">
            <th *matHeaderCellDef mat-header-cell>&nbsp;</th>
            <td *matCellDef="let element" mat-cell>
              <button [matMenuTriggerData]="{element: element}" [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          (page)="loadUserList()"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="createUser()" *ngIf="canCreateUsers" color="primary" mat-raised-button type="button">
        {{'pages.userlist.create'|translate}}
      </button>
    </mat-card-actions>

    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>

<mat-menu #menu="matMenu">
  <ng-template let-element="element" matMenuContent>
    <button (click)="viewUser(element)" mat-menu-item>
      <span>{{'general.open' | translate}}</span>
      <mat-icon>visibility</mat-icon>
    </button>
    <button (click)="editUser(element)" [disabled]="!canEditUser(element)" mat-menu-item>
      <span>{{'general.edit' | translate}}</span>
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="deleteUser(element)" [disabled]="!canDeleteUser(element)" mat-menu-item>
      <span>{{'general.delete' | translate}}</span>
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</mat-menu>

