<div class="outsideWrapper">
  <mat-card style="text-align: center">
    <mat-card-title>{{'pages.resetPassword.title' | translate}}</mat-card-title>
    <ng-container *ngIf="error">
      <mat-card-content>
        {{'pages.resetPassword.nouuiderror'|translate}}
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="router.navigateByUrl('login')">
          {{'general.return' |translate}}
        </button>
      </mat-card-actions>
    </ng-container>
    <ng-container *ngIf="!error">
      <form id="userForm" (ngSubmit)="submit()" [formGroup]="passwordForm">
        <mat-card-content>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>{{'general.password'|translate}}</mat-label>
            <input
              matInput
              [type]="hideA ? 'password' : 'text'"
              formControlName="password"
              [(ngModel)]="forgotPasswordDto.newPassword"
              autocomplete="password"
              required/>
            <button
              mat-icon-button
              type="button"
              matSuffix
              (click)="hideA = !hideA"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideA">
              <mat-icon>{{ hideA ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="passwordForm.get('password')?.hasError('minlength')">{{'validations.password.length' |translate:{amount: passwordForm.controls.password.errors?.minlength.requiredLength!} }}
            </mat-error>
            <mat-error
              *ngIf="passwordForm.get('password')?.hasError('required')">{{'validations.password.required' | translate }}</mat-error>
          </mat-form-field>
          <br/>
          <br/>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>{{'general.repeatPassword'|translate}}</mat-label>
            <input
              matInput
              [type]="hideB ? 'password' : 'text'"
              formControlName="passwordMatch"
              [(ngModel)]="password"
              autocomplete="password"
              required/>
            <button
              mat-icon-button
              type="button"
              matSuffix
              (click)="hideB = !hideB"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideB">
              <mat-icon>{{ hideB ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="passwordForm.get('passwordMatch')?.hasError('required')">{{'validations.password.required' | translate }}
            </mat-error>
            <mat-error
              *ngIf="passwordForm.get('passwordMatch')?.hasError('notEquivalent')">{{'validations.password.unequal' | translate }}
            </mat-error>
          </mat-form-field>
          <br/>
          <br/>
          <br/>
        </mat-card-content>

        <mat-card-actions align="end">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="passwordForm.invalid">
            {{'general.submit'|translate}}
          </button>
        </mat-card-actions>
      </form>

      <mat-card-footer></mat-card-footer>
    </ng-container>
  </mat-card>
</div>
